html {
    font-family: "vazir";
    font-size: 100%;
}
body {
    padding-top: 2rem;
}
div {
    background-color: cadetblue;
    color: white;
    padding: 1.2rem 2rem;
    text-align: center;
    border-radius: 6px;
}
header,
section,
aside,
footer {
    margin: 0 1.5rem 2rem;
}    

